.body {
    background-color: red;
}


.card {
    margin-top: 30px;
}

/* -- code for flashed messages (e.g Registration successful on sign up page) */
.flash-messages {
    text-align: center;
    margin-top: 15px;
}

.col-md-8, .col-md-4 {
    border: 1px solid black;
}


/*--- Styling for index.html */ 

/* creates padding between each user review visible on index.html ----*/

.media {
    padding: 20px 0;
}