<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />

    <title>Document</title>
  </head>

  <body>
    <!--Navbar below from mdboostrap.com, edited to fit my own purposes -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="{{ url_for('index') }}"
        >Book Den <i class="fas fa-book-reader"></i>
      </a>

      <!-- Collapse button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#basicExampleNav"
        aria-controls="basicExampleNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
          </li>
        </ul>
        <!-- Links -->

        <form
          class="form-inline"
          id="form"
          name="search"
          action="{{ url_for('search') }}"
          method="POST"
        >
          <div class="md-form my-0">
            <input
              id="input-book-search"
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
              name="searchbox"
            />
          </div>
          <button
            class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3"
            type="submit"
          >
            Search
          </button>
        </form>
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->

    <section>
      <!-- flashed messages code from Flask mini-project lessons -->
      {% with messages = get_flashed_messages() %} {% if messages %} 
      {% for message in messages %}
      <div class="flash-messages">
        <h5>{{ message }}</h5>
      </div>
      {% endfor %}
      {% endif %} {% endwith %}
    </section>

    {% block content %} {% endblock %}

    <!-- Scripts below copied from mdbootstrap.com -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
    ></script>
    <!-- end of copied scripts-->
    <script src=" {{ url_for('static', filename='js/main.js') }} "></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
