{% extends "base.html" %} {% block content %}


<!-- Material form contact ----------------------------->


<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Edit a review</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">

        <!-- Genre selector -->
<div class="row">
  <select id="genre_name" name="genre_name" class="mdb-select md-form validate" required>
    <option value="" disabled selected>Choose genres:</option>
    {% for item in genre %}

    <option value="{{ item.genre_name }}">{{ item.genre_name }}</option>
    {% endfor %}
  </select>
  </div>
            <!-- Name -->
            <div class="md-form mt-3">
                <input type="text" id="book_name" name="book_name" class="form-control" value="{{ review.book_name }}" required>
                <label for="book_name">Book titile:</label>
            </div>

            <!--Message-->
            <div class="md-form">
                <textarea id="user_review" name="user_review" minlength="100" maxlength="550" class="form-control md-textarea" rows="3" required>{{ review.user_review }}</textarea>
                <label for="user_review">Your review:</label>
            </div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Edit review</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->

{% endblock %}
