{% extends "base.html" %} {% block content %}

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url({{ url_for('static', filename='images/index-page-jumbotron-image.png') }})">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">Book Den <i class="fas fa-book-reader"></i></h2>
      <h4 class="mb-4 pb-2 px-md-5 mx-md-5 font-weight-bold">Find books you love and help others do the same!</h4>
      <p class="mb-4 pb-2 px-md-5 mx-md-5 font-weight-bold">Create an account below, and leave reviews of books you've enjoyed...or books you've not enjoyed, and help others make
      an informed decision on books to read!</p>
      <a class="btn btn-blue"><i class="fas fa-user-plus"></i> Sign up</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->




<div class="container my-5" id="index-page-reviews">
  <!--Section: Block Content-->
  <section class="dark-grey-text mb-5">

    <!-- Section heading -->
    <h3 class="font-weight-bold text-center mb-5">Not sure what to read? Check out some reviews from our members!</h3>

       {% for review in reviews %}

    <div class="media">
      <img class=" card-img-100 rounded-circle z-depth-1-half d-flex mr-3" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" alt="Generic placeholder image">
      <div class="media-body">

        <a>
          <h5 class="user-name font-weight-bold"><small>{{ review.book_name }}</small></h5>
        </a>
        <!-- Rating -->
        <!--- INSERT EDITABLE STAR SYSTEM -->

        <p class="dark-grey-text article">{{ review.user_review }}</p>
        <h6 class="user-name font-weight-bold"><small>{{ review.created_by }}</small></h6>

        {% if session["user"] == review.created_by %}        
        <button type="button" class="btn btn-sm" ><a href="{{ url_for('edit_review', review_id=review._id) }}">Edit review</a></button>
        <button type="button" class="btn btn-sm"><a href="{{ url_for('delete_review', review_id=review._id) }}">Delete</a></button>
        {% endif %}
        <hr>
      </div>
    </div>

             {% endfor %}


	</section>
  <!--Section: Block Content-->


</div>
{% endblock %}
